<div class = "homepage1">
  <div class = "row">
    <div class="col">
      <p class="title display-1">Make your quiz now!</p>
   </div>
  </div>
</div>
<div>
  <div class ="row">
    <div class="col homepage2">
      <img class = "icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMl7gN1-yJ-r7E7GA1jlgjfUbfIyIIzE_s2LII1im2bSgVnmGS9FQnGHubIhT7wpUoApg&usqp=CAU">
      <p class="content display-6">Quick and fast</p>
   </div>
   <div class="col homepage2">
    <img class = "icon2" src="https://cdn3.iconfinder.com/data/icons/hotel-services/80/Hotel_icons-05-512.png">
    <p class="content display-6">Action without limits</p>
   </div>
  </div>
</div>
<div class = "homepage3">
    <div class = "row">
      <div class="col">
        <p class="title display-3">{{title}}</p>
        <p class="text display-6">{{text}}</p>
     </div>
    </div>
</div>
<div>
