.homepage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 350px;
    width: 100%;
    background: linear-gradient(
        to right top, 
        rgb(158, 185, 245) 0%, 
        rgb(158, 185, 245) 50%, 
        rgb(216, 218, 255) 50%, 
        rgb(158, 185, 245) 50%, 
        rgb(216, 218, 255) 100%);
    box-shadow: 0 0 4px 0 rgba(75, 75, 75, 0.735);    
}
.homepage2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 180px;
    width: 100%;
    background-color: #F4F8FB;
}
.row {
    width: 100.5%;
}
.homepage3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 200px;
    background: linear-gradient(
        to right top, 
        rgb(98, 104, 222) 0%, 
        rgb(158, 185, 245) 100%);
    box-shadow: 0 0 4px 0 rgba(75, 75, 75, 0.735);    
}
.title {
    animation: moveInBottom 0.7s ease-out;
    color: white;
    font-weight: 400;
    width: 100%;
}
.text {
    animation: moveInBottom 0.7s ease-out;
    color: white;
    font-weight: 300;
    width: 100%;
    font-size: 30px;
    text-align: left;
    margin-top: 100px;
  }

.content {
    animation: moveInBottom 0.7s ease-out;
    color: gray;
    font-weight: 200;
}
.icon {
    animation: moveInBottom 0.7s ease-out;
    margin-left: -20px;
}
.icon2 {
    animation: moveInBottom 0.7s ease-out;
    padding: 40px;
    width: 200px;
    height: 200px;
    margin-top: 26px;
}
* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
