<div>
  <div class ="row">
   <div class="container col homepage1" *ngIf="!quizStarted">
      <p class="display-5 quizesAvailable">Quizzes available:</p>
      <div class="quizChoice" *ngFor="let quiz of quizes; index as i">
         <li class="display-7" (click)="chooseQuiz(quiz)"><a href="#">{{quiz.quizName}}</a></li>
      </div>
   </div>
   <div class="body" *ngIf="quizStarted">
      <div class="container">
         <div class="row-custom">
            <div class="container col homepage2" *ngIf="quizStarted && !quizCompleted">
               <form #form>
                  <p class ="title">{{questions[i].title}}</p>
                     <div class="question" *ngFor="let answer of questions[i].answers">
                       <div [ngClass]="getClassForAnswer(answer, i, confirmed)">
                          <input type ="radio" name = {{questions[i].index_question}} (click)="assignData(answer)">
                          <span>
                             {{ answer }} <span *ngIf="isAnswerCorrect() && confirmed && answer == userAnswers[i]">- Correct!</span> <span *ngIf="!isAnswerCorrect() && confirmed && answer == userAnswers[i]">- Wrong!</span>
                          </span>
                       </div>
                     </div> 
                  <br>   
              </form>
              <button class="btn btn-primary" *ngIf="!confirmed && quizStarted && !quizCompleted" (click)="confirmAnswer(form)">Confirm Answer</button>
              <button class="btn btn-primary" *ngIf="confirmed && quizStarted && !quizCompleted && i == questions.length - 1" (click)="endQuiz(form)">End Quiz</button>
              <button class="btn btn-primary" *ngIf="confirmed && quizStarted && !quizCompleted && i != questions.length - 1" (click)="goNext(form)">Next Question</button>
            </div>
            <div *ngIf="quizCompleted" class="container col homepage2">
               <p class="score">Your score is: <a [ngClass]="getClassForScore()">{{score}}/{{questions.length}}</a></p>
               <p class="niceWords" *ngIf="score/questions.length * 100 >= 75 && score/questions.length *100 < 100">You did very well!</p>
               <p class="niceWords" *ngIf="score/questions.length * 100 == 100">You did absolutely amazing!</p>
               <button class="btn btn-primary" (click)="quizStarted = false; quizCompleted = false; i = 0; score = 0;">Leave</button>
            </div>
         </div>
      </div>
   </div>
</div>