.homepage1 {
    justify-content: center;
    align-items: center;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    padding: 120px;
    background:white;
}
.row-custom {
    animation: moveInBottom 0.3s ease-out;
    background: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
    box-shadow: 0 0 8px 0 rgba(75, 75, 75, 0.735);  
}
.quizesAvailable{
    margin-left: -20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(215, 215, 215);
    animation: moveInBottom 0.5s ease-out;
}
.quizChoice {
    animation: moveInBottom 0.5s ease-out;
}
.body {
    background: linear-gradient(
        to right top, 
        rgb(98, 104, 222) 0%, 
        rgb(158, 185, 245) 100%);  
    background-size: cover;   
    min-height: 95vh;
}
.title {
    font-size: 35px;
}
.alert, .alert-success, .alert-danger {
    padding: auto;
    display:inline-flexbox;
}
.question > div {
    margin-top: 40px;
    margin-bottom: 15px;
}
.score {
    margin-bottom: 17px;
    font-size: 29px;
}
.niceWords {
    text-align: center;
    font-size: 20px;
    margin-bottom: 17px;
}
* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=radio] {
    border: 0px;
    width: 25px;
    height: 20px;
}
.homepage2 {
    display: flex;
    display: grid;
    text-align: left;
    padding: 100px;
    font-size: 27px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background:white
}
.alert {
 padding: auto;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
