.homepage1 {
    justify-content: center;
    align-items: center;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    padding: 120px;
    background:white;
}
.quizesAvailable{
    margin-left: -20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(215, 215, 215);
    animation: moveInBottom 0.7s ease-out;
}
.quizChoice {
    animation: moveInBottom 0.7s ease-out;
}
.homepage2 {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 20%;
    padding-bottom: 19vw;
    padding-left: 35%;
    padding-right: 20%;
    background-color: #F4F8FB;
    font-size: 40px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.alert {
 padding: auto;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
