<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizApp</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="global_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" (click)="showHome()">QuizApp</a>
        </div>
        <ul class="navbar-nav">
          <li class="btn btn-light active"><a (click)="showHome()">Home</a></li>
          <li class="btn btn-light active"><a (click)="showQuizBuilder()">Make a quiz</a></li>
          <li class="btn btn-light active"><a (click)="showQuizApp()">Take a quiz</a></li>
        </ul>
        <button class="btn navbar-btn" (click)="showRegistrationApp()">SIGN IN</button>
      </div>
    </nav>
    <div class="main-page">
      <div *ngIf="HomeVisible">
        <app-homepage></app-homepage>
      </div>
      <div *ngIf="QuizBuilderVisible">
        <app-quizbuilder></app-quizbuilder>
      </div>  
      <div *ngIf="QuizAppVisible">
        <app-quizapp></app-quizapp>
      </div>  
      <div *ngIf="RegistrationAppVisible">
        <app-registrationapp></app-registrationapp>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>